/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset done */

.nav-link {
  color:white;
	display:inline-block;
}

.nav-link:hover {
	color: rgb(200, 220, 255);
}

#title_image {
	position:fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

#title_words {
	text-align: center;
	color: white;
}

#title_name {
	font-size: 50px;
}

#title_description {
	font-size: 20px;
	padding-top: 10px;
}

#title_media {
	padding-top: 30px;
}
.rounded {
	padding: 15px;
	margin-left: 5px;
	background-color: rgba(200, 200, 200, 0.25);
	color: white;
}

.rounded:hover {
	background-color: rgba(200, 200, 200, 0.4);
	text-decoration: none !important;
}

#portfilio {
	margin-top: 32.5%;
	text-align: center;
	background-color: white;
	font-weight: bold;
	font-size: 25px;
	padding-top: 10px;
}

#hero1 {
	padding-left: 5% !important;
	padding-right: 5% !important;
	background-color: white !important;
}

#hero2 {
	padding-left: 5% !important;
	padding-right: 5% !important;
	background-color: white !important;
}

#hero3 {
	padding-left: 5% !important;
	padding-right: 5% !important;
	background-color: white !important;
}

.right_image {
	padding-top: 15px;
}

.left_image {
	padding-top: 15px;
}

#footer {
	background-color: white;
}

#footer_image {
	max-height: 280px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15%;
}

#about_title {
	padding-top: 25px;
	font-size: 20px;
	font-weight: bold;
}

#about_description {
	padding-top: 35px;
	padding-bottom: 15px;
}
